.media {
    padding: 15px 0;
    border-top: 1px solid #DDD;

    &:first-child {
        border-top: 0;
    }

    .media-left, .media-right, .media-body {
        display: table-cell;
        vertical-align: top;
    }

    .media-left {
        padding-right: 20px;
    }

    .media-right {
        padding-left: 20px;
    }

    .media-middle {
        vertical-align: middle;
    }

    .media-bottom {
        vertical-align: bottom;
    }

    .media-body {
        width: 10000px;

        .media {
            border: 0;
            padding: 10px 0;
        }
    }

    .media-title {
        margin: 0 0 5px 0;
    }
}
