///////////////////////////
/// BASE
///////////////////////////
$text-font: "Roboto", "Helvetica Neue", "Helvetica";
$background-color: #F8F8F8;
$admin-background-color: #F4F4F4;
$base-font-family: $text-font;
$base-font-size: 15px;
$base-line-height: $base-font-size * 1.8; // 26px
$text-color: #666;
$container-max-width: 1000px;
$base-margin: 20px;
$bold-font-weight: 700;

$main-color: #f34141;

$link-color: $text-color;
$link-hover-color: $main-color;

$select-text-bg-color:   transparentize($main-color, 0.2);
$select-text-color:      #FFF;

$color-primary: #34677f;
$color-success: #4caf50;
$color-info: #43b2e4;
$color-warning: #f0a435;
$color-danger: #e5554b;


///////////////////////////
/// HEADINGS
///////////////////////////
$headings-font-family: "Roboto Condensed", "Helvetica Neue", "Helvetica";
$headings-font-weight: 400;
$headings-line-height: 1.4;
$headings-letter-spacing: -0.04em;
$headings-color: #444;
$headings-small-color: lighten($text-color, 30%);
$headings-margin: $base-margin;

$font-size-h1: 40px;
$font-size-h2: 30px;
$font-size-h3: 26px;
$font-size-h4: 20px;
$font-size-h5: 16px;
$font-size-h6: 14px;


///////////////////////////
/// CODE
///////////////////////////
$code-font-family: "Inconsolata", "Consolas", "Courier";
$code-font-size:   16px;
$code-line-height: $code-font-size * 1.5;
$code-background:  rgba(0, 0, 0, 0.7);
$code-color:       #EEE;
$code-padding:     10px 10px;
$code-margin:      0;



///////////////////////////
/// GRID
///////////////////////////
$grid-columns: 12;
$grid-gutter-width: 30px;


///////////////////////////
/// MEDIA QUERIES
///////////////////////////
$screen-xs:                  480px;
$screen-xs-min:              $screen-xs;
$screen-phone:               $screen-xs-min;

$screen-sm:                  768px;
$screen-sm-min:              $screen-sm;
$screen-tablet:              $screen-sm-min;

$screen-md:                  900px;
$screen-md-min:              $screen-md;
$screen-desktop:             $screen-md-min;

$screen-lg:                  1024px;
$screen-lg-min:              $screen-lg;
$screen-lg-desktop:          $screen-lg-min;

$screen-xs-max:              ($screen-sm-min - 1);
$screen-sm-max:              ($screen-md-min - 1);
$screen-md-max:              ($screen-lg-min - 1);

$container-tablet:            ((720px + $grid-gutter-width));
$container-desktop:           ((940px + $grid-gutter-width));
$container-lg-desktop:        ((1140px + $grid-gutter-width));


///////////////////////////
/// NAVBAR
///////////////////////////
$navbar-background: transparentize(#FFF, 0.05);
$navbar-color: #000;
$navbar-height: 80px;
$navbar-border-width: 2px;
$navbar-border-color: #EEE;
$navbar-zindex: 2000;
$navbar-active-color: $main-color;


///////////////////////////
/// HEADER
///////////////////////////
$header-background: $main-color;
$header-color: #FFF;


///////////////////////////
/// FOOTER
///////////////////////////
$footer-background: darken($background-color, 15%);
$footer-color: darken($footer-background, 30%);


///////////////////////////
/// FORMS
///////////////////////////
$legend-color: $text-color;
$legend-border-color: $text-color;

$font-size-small: $base-font-size * 0.75;
$font-size-large: $base-font-size * 1.5;

$line-height-small: $base-line-height * 0.75;
$line-height-large: $base-line-height * 1.5;

$padding-base-vertical: 6px;
$padding-base-horizontal: 12px;

$padding-large-vertical: 10px;
$padding-large-horizontal: 16px;

$padding-small-vertical: 5px;
$padding-small-horizontal: 10px;

$padding-xs-vertical: 1px;
$padding-xs-horizontal: 5px;


$border-radius-base: 4px;
$border-radius-large: 6px;
$border-radius-small: 3px;

$input-height-base: ceil($base-line-height + ($padding-base-vertical * 2) + 2);
$input-height-small: ceil($base-line-height*0.75 + ($padding-small-vertical * 2) + 2);
$input-height-large: ceil($base-line-height*1.5 + ($padding-large-vertical * 2) + 2);

$input-color: $text-color;
$input-color-placeholder: lighten($text-color, 40%);
$input-bg: #FFF;
$input-border: darken(#e9eae7, 10%);
$input-border-focus: darken($input-border, 15%);
$input-border-radius: $border-radius-base;
$input-bg-disabled: #EEE;

$state-primary-text:             #FFF;
$state-primary-bg:               $color-primary;
$state-primary-border:           darken(adjust-hue($state-primary-bg, -10), 5%);

$state-success-text:             #FFF;
$state-success-bg:               $color-success;
$state-success-border:           darken(adjust-hue($state-success-bg, -10), 5%);

$state-info-text:                #FFF;
$state-info-bg:                  $color-info;
$state-info-border:              darken(adjust-hue($state-info-bg, -10), 7%);

$state-warning-text:             #FFF;
$state-warning-bg:               $color-warning;
$state-warning-border:           darken($state-warning-bg, 5%);

$state-danger-text:              #FFF;
$state-danger-bg:                $color-danger;
$state-danger-border:            darken(adjust-hue($state-danger-bg, -10), 5%);


///////////////////////////
/// BUTTONS
///////////////////////////
$btn-default-color:              $text-color;
$btn-ghost-default-color:        #FFF;
$btn-default-bg:                 #FFF;
$btn-ghost-default-bg:           #AAA;
$btn-default-border:             #CCC;
$btn-font-family:                $base-font-family;

$btn-primary-color:              #fff;
$btn-primary-bg:                 $color-primary;
$btn-primary-border:             rgba(0,0,0,0);

$btn-success-color:              #fff;
$btn-success-bg:                 $color-success;
$btn-success-border:             rgba(0,0,0,0);

$btn-info-color:                 #fff;
$btn-info-bg:                    $color-info;
$btn-info-border:                rgba(0,0,0,0);

$btn-warning-color:              #fff;
$btn-warning-bg:                 $color-warning;
$btn-warning-border:             rgba(0,0,0,0);

$btn-danger-color:               #fff;
$btn-danger-bg:                  $color-danger;
$btn-danger-border:              rgba(0,0,0,0);

$btn-link-disabled-color:        #CCC;

$caret-width-base:               4px;
$caret-width-large:              5px;

$btn-border-width:               1px;
$btn-ghost-border-width:         2px;

$btn-default-padding-h:          20px;
$btn-default-padding-v:          8px;

$btn-lg-padding-h:               30px;
$btn-lg-padding-v:               12px;

$btn-sm-padding-h:               16px;
$btn-sm-padding-v:               5px;

$btn-xs-padding-h:               12px;
$btn-xs-padding-v:               5px;


///////////////////////////
/// TABLES
///////////////////////////
$table-cell-padding:            8px;
$table-condensed-cell-padding:  5px;

$table-bg:                      transparent;
$table-bg-accent:               darken($background-color, 5%);
$table-bg-hover:                darken($table-bg-accent, 3%);
$table-bg-active:               $table-bg-hover;

$table-border-color:            $table-bg-hover;


///////////////////////////
/// ALERTS
///////////////////////////
$alert-padding:               15px 25px;
$alert-border-radius:         $border-radius-base;
$alert-font-weight:           400;
$alert-link-font-weight:      normal;

$alert-default-bg:            #DDD!default;
$alert-default-text:          $text-color;
$alert-default-border:        #BBB;

$alert-primary-bg:            $state-primary-bg;
$alert-primary-text:          $state-primary-text;
$alert-primary-border:        $state-primary-border;

$alert-success-bg:            $state-success-bg;
$alert-success-text:          $state-success-text;
$alert-success-border:        $state-success-border;

$alert-info-bg:               $state-info-bg;
$alert-info-text:             $state-info-text;
$alert-info-border:           $state-info-border;

$alert-warning-bg:            $state-warning-bg;
$alert-warning-text:          $state-warning-text;
$alert-warning-border:        $state-warning-border;

$alert-danger-bg:             $state-danger-bg;
$alert-danger-text:           $state-danger-text;
$alert-danger-border:         $state-danger-border;


///////////////////////////
/// NAVS
///////////////////////////
$nav-link-padding:                          10px 15px;
$nav-link-hover-bg:                         darken($background-color, 5%);
$nav-disabled-link-color:                   lighten($text-color, 35%);
$nav-open-link-hover-color:                 #fff;
$nav-tabs-border-color:                     darken(#e9eae7, 10%);
$nav-tabs-link-hover-border-color:          transparent;
$nav-tabs-active-link-hover-bg:             $background-color;
$nav-tabs-active-link-hover-color:          lighten($text-color, 20%);
$nav-tabs-active-link-hover-border-color:   darken($nav-tabs-border-color, 5%);
$tab-content-padding: 10px 0;


///////////////////////////
/// TOOLTIPS
///////////////////////////
$zindex-tooltip: 1070;
$tooltip-max-width: 200px;
$tooltip-color: #fff;
$tooltip-bg: #000;
$tooltip-opacity: 80;
$tooltip-arrow-width: 5px;
$tooltip-arrow-color: $tooltip-bg;


///////////////////////////
/// POPOVERS
///////////////////////////
$zindex-popover:                      1060;
$popover-bg:                          #fff;
$popover-width:                       300px;
$popover-border-color:                rgba(0,0,0,.2);
$popover-fallback-border-color:       #ccc;
$popover-title-bg:                    darken($popover-bg, 3%);
$popover-arrow-width:                 10px;
$popover-arrow-color:                 $popover-bg;
$popover-arrow-outer-width:           ($popover-arrow-width + 1);
$popover-arrow-outer-color:           fade_in($popover-border-color, 0.05);
$popover-arrow-outer-fallback-color:  darken($popover-fallback-border-color, 20%);



///////////////////////////
/// INPUT GROUPS
///////////////////////////
$input-group-addon-bg: #EEE;
$input-group-addon-border-color: $input-border;


///////////////////////////
/// FANCYBOX
///////////////////////////
$fancybox-background: rgba(0,0,0,0.7);
$fancybox-shadow: 0 10px 25px rgba(0,0,0,0.5);


///////////////////////////
/// MISC
///////////////////////////
$hr-border:                     #DDD;


///////////////////////////
/// PROGRESS BARS
///////////////////////////
$progress-bg:                 #DDD;
$progress-bar-height:         8px;
$progress-border-radius:      6px;
$progress-bar-bg:             $color-primary;
$progress-bar-success-bg:     $color-success;
$progress-bar-warning-bg:     $color-warning;
$progress-bar-danger-bg:      $color-danger;
$progress-bar-info-bg:        $color-info;


///////////////////////////
/// PANELS
///////////////////////////
$panel-bg:                        #FFF;
$panel-border-width:              2px;
$panel-padding:                   10px 15px;
$panel-margin:                    0 0 20px 0;
$panel-radius:                    5px;
$panel-heading-font-size:         20px;

$panel-default-color:             #DDD;
$panel-default-heading-color:     $text-color;

$panel-primary-color:             $state-primary-bg;
$panel-primary-heading-color:     $state-primary-text;

$panel-success-color:             $state-success-bg;
$panel-success-heading-color:     $state-success-text;

$panel-info-color:                $state-info-bg;
$panel-info-heading-color:        $state-info-text;

$panel-warning-color:             $state-warning-bg;
$panel-warning-heading-color:     $state-warning-text;

$panel-danger-color:              $state-danger-bg;
$panel-danger-heading-color:      $state-danger-text;


///////////////////////////
/// DROPIFY
///////////////////////////
$dropify-width:       100%;
$dropify-height:      170px;
$dropify-font-family: $text-font;
$dropify-font-size:   14px;
$dropify-line-height: 22px;
$dropify-text-color:  #777;
$dropify-background:  #FFF;
$dropify-stripes:     #F9F9F9;


///////////////////////////
/// LABELS
///////////////////////////
$label-font-size:           13px;
$label-font-weight:         700;
$label-color:               $text-color;
$label-border-radius:       3px;
$label-padding:             4px 6px;

$label-default-bg:          #DDD;
$label-default-color:       $text-color;

$label-primary-bg:          $state-primary-bg;
$label-primary-color:       $state-primary-text;

$label-success-bg:          $state-success-bg;
$label-success-color:       $state-success-text;

$label-info-bg:             $state-info-bg;
$label-info-color:          $state-info-text;

$label-warning-bg:          $state-warning-bg;
$label-warning-color:       $state-warning-text;

$label-danger-bg:           $state-danger-bg;
$label-danger-color:        $state-danger-text;


///////////////////////////
/// DROPDOWNS
///////////////////////////
$zindex-dropdown:                1000;
$dropdown-bg:                    #fff;
$dropdown-border:                rgba(0,0,0,.15);
$dropdown-divider-bg:            #e5e5e5;
$dropdown-link-color:            $link-color;
$dropdown-link-hover-color:      darken($link-color, 5%);
$dropdown-link-hover-bg:         #f5f5f5;
$dropdown-link-active-color:     #fff;
$dropdown-link-active-bg:        $color-primary;
$dropdown-link-disabled-color:   #CCC;
$dropdown-header-color:          #CCC;
$dropdown-caret-color:           #000;


///////////////////////////
/// PAGINATION
///////////////////////////
$pagination-color:                     $link-color;
$pagination-bg:                        #fff;
$pagination-border:                    #ccc;

$pagination-hover-color:               $link-hover-color;
$pagination-hover-bg:                  #F3F3F3;
$pagination-hover-border:              #ccc;

$pagination-active-color:              #fff;
$pagination-active-bg:                 $main-color;
$pagination-active-border:             $main-color;

$pagination-disabled-color:            #BBB;
$pagination-disabled-bg:               #fff;
$pagination-disabled-border:           #ccc;
