@mixin border-top-radius($radius) {
    border-top-right-radius: $radius;
     border-top-left-radius: $radius;
}
@mixin border-right-radius($radius) {
    border-bottom-right-radius: $radius;
       border-top-right-radius: $radius;
}
@mixin border-bottom-radius($radius) {
    border-bottom-right-radius: $radius;
     border-bottom-left-radius: $radius;
}
@mixin border-left-radius($radius) {
    border-bottom-left-radius: $radius;
       border-top-left-radius: $radius;
}

@mixin rounded() {
    border-radius: 50%;
}

@mixin antialiased() {
    -moz-osx-font-smoothing: grayscale;
     -webkit-font-smoothing: antialiased;
}

@mixin clearfix() {
    *zoom: 1;

    &:before,
    &:after {
        display: table;
        content: "";
    }

    &:after {
        clear: both;
    }
}

@mixin rect($width, $height) {
    width: $width;
    height: $height;
}

@mixin square($size) {
    @include rect($size, $size);
}

@mixin gradient-striped($color: rgba(255,255,255,0.3), $angle: 45deg) {
  background-image: linear-gradient($angle, $color 25%, transparent 25%, transparent 50%, $color 50%, $color 75%, transparent 75%, transparent);
}
