@mixin button-variant($color, $background, $border) {
    background-color: $background;
    border-color: $border;

    &, &:visited {
        color: $color;
    }

    &:hover,
    &:active,
    &.active,
    .open > &.dropdown-toggle {
        color: $color;
        background-color: darken($background, 6%);
        border-color: darken($border, 5%);
    }

    &:focus {
        box-shadow: 0 0 8px transparentize($background, 0.3);
    }

    &:active,
    &.active,
    .open > &.dropdown-toggle {
        background-image: none;
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        &,
        &:hover,
        &:active,
        &.active {
            background-color: $background;
            border-color: $border;
        }
    }

    .badge {
        color: $background;
        background-color: $color;
    }

    &.btn-ghost {
        background-color: transparent;
        color: $background;
        border-color: $background;

        &:hover,
        &:active,
        &.active,
        .open > &.dropdown-toggle {
            color: $color;
            background-color: $background;
            border-color: $background;
        }

        &.with-anim {
            &:hover,
            &:active,
            &.active,
            .open > &.dropdown-toggle {
                background-color: transparent;
            }

            &::after {
                background-color: $background;
            }
        }

        &.disabled,
        &[disabled],
        fieldset[disabled] & {
            &,
            &:hover,
            &:active,
            &.active {
                color: $background;
                background-color: transparent;
                border-color: $background;
            }
        }
    }
}

@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius) {
    padding: $padding-vertical $padding-horizontal;
    font-size: $font-size;
    line-height: $line-height;
    border-radius: $border-radius;
}

@mixin user-select($select) {
    -webkit-user-select: $select;
       -moz-user-select: $select;
        -ms-user-select: $select; // IE10+
            user-select: $select;
}
