@mixin form-control-focus($color: $input-border-focus) {
    $color-rgba: rgba(red($color), green($color), blue($color), .6);

    &:focus {
        border-color: $color;
        outline: 0;
    }
}

@mixin placeholder($color: $input-color-placeholder) {
    &::-moz-placeholder {
        color: $color;   // Firefox
        opacity: 1;
    }

    &:-ms-input-placeholder {
        color: $color;
    }

    &::-webkit-input-placeholder {
        color: $color;
    }
}

@mixin input-size($parent, $input-height, $padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius) {
    #{$parent} {
        height: $input-height;
        padding: $padding-vertical $padding-horizontal;
        font-size: $font-size;
        line-height: $line-height;
        border-radius: $border-radius;
    }

    select#{$parent} {
        height: $input-height;
        line-height: $input-height;
    }

    textarea#{$parent},
    select[multiple]#{$parent} {
        height: auto;
    }
}

@mixin form-control-validation($text-color: #555, $border-color: #ccc) {
    label,
    .control-label,
    .radio,
    .checkbox,
    .radio-inline,
    .checkbox-inline,
    .errors-list {
        color: $text-color;
    }

    .form-control {
        border-color: $border-color;

        &:focus {
            border-color: darken($border-color, 10%);
        }
    }

    .input-group-addon {
        color: $text-color;
        border-color: $border-color;
    }

    .form-control-feedback {
        color: $text-color;
    }
}

@mixin make-row($gutter: $grid-gutter-width) {
    margin-left:  ($gutter / -2);
    margin-right: ($gutter / -2);
    @include clearfix();
}
