@mixin label-variant($background, $color) {
    background-color: $background;
    color: $color;

    &[href] {
        &, &:visited {
            color: $color;
        }

        &:hover,
        &:focus {
            background-color: darken($background, 10%);
            color: $color;
        }
    }
}
