.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.text-justify { text-align: justify; }

.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}

.hide-text {
  font: #{0/0} a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

hr {
  margin-top: $base-line-height;
  margin-bottom: $base-line-height;
  border: 0;
  border-top: 1px solid $hr-border;
}
