body.admin {
    background: $admin-background-color;

    &.nav-opened {
        overflow: hidden;
    }


    &.fullscreen {
        .sidebar {
            transform: translateX(-$admin-sidebar-width);
        }

        .main-content {
            margin-left: 0;
        }
    }

    .fullscreen-btn {
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        font-size: 22px;
        position: fixed;
        bottom: 0;
        left: $admin-sidebar-width - 50px;
        z-index: 1100;
        color: $admin-background-color;
        border-radius: 25px;
        opacity: 0.3;
        transition: all 0.15s ease;

        &:hover {
            padding-right: 15px;
            opacity: 0.7;
        }

        .closed {
            display: none;
        }

        &.active {
            left: 15px;
            bottom: 20px;
            background-color: $main-color;
            opacity: 0.75;

            .original {
                display: none;
            }

            .closed {
                display: block;
            }

            &:hover {
                padding-right: 0;
                opacity: 1;
            }
        }
    }

    #loading {
        background: $admin-background-color;
    }

    .container {
        max-width: 100%;
    }

    .main-content {
        padding-top: $navbar-height;
        padding-bottom: $grid-gutter-width/2;
        margin-left: $admin-sidebar-width;

        > .container {
            padding-top: $grid-gutter-width/2;
        }

        &.no-padding {
            padding-bottom: 0;

            > .container {
                padding-top: 0;
            }
        }
    }
}
