body.admin {
    .navbar {
        @extend .fixed;
        overflow: visible;
        border: 0;

        .navbar-inner {
            padding: 0 $grid-gutter-width/2 0 0;

            .navbar-logo {
                line-height: $navbar-height;
                height: $navbar-height;
                width: $admin-sidebar-width;
                float: left;
                background: $main-color;
                color: #FFF;
                text-align: center;

                small {
                    font-size: 15px;
                    font-weight: 400;
                }

                &:hover {
                    color: transparentize(#FFF, 0.3);
                }
            }

            .page-title {
                float: left;
                margin-left: $grid-gutter-width/2;

                &.has-breadcrumb {
                    &:hover, &.hover {
                        .current {
                            line-height: 105px;
                        }
                        .breadcrumb {
                            transform: translateY(0);
                        }
                    }
                }
            }

            .btn-group {
                display: inline;
            }

            .list-actions {
                float: right;
                max-width: 500px;
                text-align: right;

                .btn {
                    @extend .btn-sm;
                    font-size: 12px;
                    font-weight: bold;
                    text-transform: uppercase;
                    padding-left: 7px;
                    margin-left: 3px;

                    i {
                        font-size: 14px;
                    }
                }

                .filters-button {
                    display: inline-block;
                    font-size: 20px;
                    line-height: 35px;
                    height: 35px;
                    width: 35px;
                    text-align: center;
                    color: #999;
                    border-radius: 3px;
                    border: 2px solid tranparent;
                    vertical-align: middle;
                    transition: all 0.1s linear;

                    &:not(.collapsed) {
                        &, &:hover {
                            border-color: $main-color;
                            background: $main-color;
                            color: #FFF;
                        }
                    }

                    &.collapsed:hover {
                        border-color: darken($navbar-background, 2%);
                        background: darken($navbar-background, 2%);
                        color: $main-color;
                    }
                }
            }
        }
    }


    .page-title, .page-title-mobile {
        font-size: 22px;
        font-family: $headings-font-family;
        font-weight: $headings-font-weight;
        color: $headings-color;
        letter-spacing: $headings-letter-spacing;

        .current {
            transition: all 0.2s ease;
        }

        .breadcrumb {
            position: absolute;
            list-style: none;
            padding: 20px 0 0 0;
            line-height: 15px;
            font-size: $base-font-size;
            transition: all 0.2s ease;
            transform: translateY(-100%);

            li {
                list-style: none;
                display: inline-block;
                margin-left: 6px;
                line-height: 15px;
                font-size: $base-font-size;
                color: lighten($headings-color, 30%);

                &::before {
                    content: '>';
                    margin-right: 10px;
                }

                &:first-child {
                    margin-left: 0;

                    &::before {
                        display: none;
                    }
                }

                a {
                    color: lighten($headings-color, 30%);

                    &:hover {
                        color: $link-hover-color;
                    }
                }
            }
        }
    }

    .page-title-mobile {
        display: none;
        margin: 10px 0;
    }

    .user-nav {
        img {
            display: inline-block;
            vertical-align: middle;
            margin-right: 5px;
            border-radius: 50%;
        }
    }

}
