body.admin {
    .table {
        .col-actions {
            width: 150px;
            text-align: right;
        }

        td {
            vertical-align: middle;

            &.col-actions {
                .btn {
                    padding: 2px 10px;
                    font-size: 13px;
                    text-transform: uppercase;

                    &.dropdown-toggle {
                        padding-left: 5px;
                        padding-right: 5px;
                    }
                }
            }
        }
    }

    .table-footer {
        padding-left: $table-cell-padding;
        padding-right: $table-cell-padding;

        .selector-wrapper {
            margin-left: 10px;
        }

        .pagination {
            margin: 0;
        }
    }
}
