.code-button {
    font-size: 22px;
    color: $main-color;
    margin-left: 5px;
    vertical-align: middle;

    &.collapsed {
        color: $text-color;
    }
}

table.responsive-utilities {
    .is-visible {
        color: $color-success;
        background-color: transparentize($color-success, 0.85)!important;
    }
    .is-hidden {
        color: #BBB;
    }
}
